<div class="site-header__inner container">
  <a class="brand" href="{{ site.Home.RelPermalink }}">
    <img class="brand__logo" src="{{ "logos/FMFI-logo.svg" | relURL }}" alt="FMFI logo">
    <span class="brand__text">{{ site.Title }}</span>
  </a>
  <div class="site-header__nav">
    <div class="lang-switch">
      {{ $currentLang := site.Language.Lang | upper }}
    
      <details class="lang-dropdown">
        <summary>
          {{ site.Language.Label }}
        </summary>
    
        <div class="lang-dropdown__menu">
          {{ range page.AllTranslations }}
            {{ if ne .Lang $currentLang }}
              <a class="lang-switch__link" href="{{ .RelPermalink }}">
                {{ .Language.Label }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      </details>
    </div>
    
    <button class="menu-toggle" type="button" data-menu-toggle aria-controls="site-menu" aria-expanded="false">
      <span class="menu-toggle__icon" aria-hidden="true"></span>
    </button>
    {{ partial "menu.html" (dict "page" .) }}
  </div>
</div>
