<div class="site-header__inner container">
  <a class="brand" href="{{ site.Home.RelPermalink }}">
    <img class="brand__logo" src="{{ "logos/FMFI-logo.svg" | relURL }}" alt="FMFI logo">
    <span class="brand__text">{{ site.Title }}</span>
  </a>
  <div class="site-header__nav">
    <button class="menu-toggle" type="button" data-menu-toggle aria-controls="site-menu" aria-expanded="false">
      <span class="menu-toggle__label">Menu</span>
      <span class="menu-toggle__icon" aria-hidden="true"></span>
    </button>
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </div>
</div>
