{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="site-menu" class="site-menu" aria-label="Main">
    <div class="site-menu__panel">
      <ul class="site-menu__list">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </div>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $classes := slice "site-menu__link" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $classes = $classes | append "active" }}
      {{- $attrs = merge $attrs (dict "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $classes = $classes | append "ancestor" }}
      {{- $attrs = merge $attrs (dict "aria-current" "true") }}
    {{- end }}
    {{- $attrs = merge $attrs (dict "class" (delimit $classes " ")) }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="site-menu__item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul class="site-menu__sublist">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
