{{- /*
Renders an automatic menu based on the content tree.
Controlled via site.Params.menuDepth (default 3).
*/}}

{{- $page := .page }}
{{- $maxDepth := default 3 site.Params.menuDepth }}

<nav id="site-menu" class="site-menu" aria-label="Main">
  <div class="site-menu__panel">
    <button class="site-menu__close" type="button" data-menu-close>{{ i18n "close" }}</button>
    <ul class="site-menu__list">
      <li class="site-menu__item">
        {{- $homeClasses := slice "site-menu__link" }}
        {{- if $page.IsHome }}
          {{- $homeClasses = $homeClasses | append "active" }}
        {{- end }}
        <a class="{{ delimit $homeClasses " " }}" href="{{ site.Home.RelPermalink }}">{{ i18n "home" }}</a>
      </li>
      {{- template "menu-children" (dict "nodes" site.Home.Sections.ByWeight "page" $page "depth" 1 "maxDepth" $maxDepth) }}
      {{- template "menu-children" (dict "nodes" site.Home.RegularPages.ByWeight "page" $page "depth" 1 "maxDepth" $maxDepth) }}
    </ul>
  </div>
</nav>

{{- define "menu-children" }}
  {{- $page := .page }}
  {{- $depth := .depth }}
  {{- $maxDepth := .maxDepth }}
  {{- range .nodes }}
    {{- $classes := slice "site-menu__link" }}
    {{- if eq $page.RelPermalink .RelPermalink }}
      {{- $classes = $classes | append "active" }}
    {{- else if .IsAncestor $page }}
      {{- $classes = $classes | append "ancestor" }}
    {{- end }}
    <li class="site-menu__item">
      <a class="{{ delimit $classes " " }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- if lt $depth $maxDepth }}
        {{- $childSections := .Sections.ByWeight }}
        {{- $childPages := .RegularPages.ByWeight }}
        {{- if or (gt (len $childSections) 0) (gt (len $childPages) 0) }}
          <ul class="site-menu__sublist">
            {{- template "menu-children" (dict "nodes" $childSections "page" $page "depth" (add $depth 1) "maxDepth" $maxDepth) }}
            {{- template "menu-children" (dict "nodes" $childPages "page" $page "depth" (add $depth 1) "maxDepth" $maxDepth) }}
          </ul>
        {{- end }}
      {{- end }}
    </li>
  {{- end }}
{{- end }}
