{{ define "main" }}
  <section class="page-header">
    <nav class="breadcrumbs">
      <a href="{{ site.Home.RelPermalink }}">{{ i18n "home" }}</a>
    
      {{ range .Ancestors.Reverse }}
        {{ if not .IsHome }}
          › <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
      {{ end }}
    
      › <span>{{ .LinkTitle }}</span>
    </nav>
    <h1 class="page-title">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="content">
        {{ . }}
      </div>
    {{ end }}
  </section>
  <div class="listing-grid">
    {{ range .Sections.ByWeight }}
      <a class="card" href="{{ .RelPermalink }}">
        <h2 class="card__title">{{ .LinkTitle }}</h2>
        <div class="card__summary">{{ .Summary }}</div>
      </a>
    {{ end }}
    {{ range .RegularPages.ByWeight }}
    <a class="card" href="{{ .RelPermalink }}">
        <h2 class="card__title">{{ .LinkTitle }}</h2>
        <div class="card__summary">{{ .Summary }}</div>
    </a>
    {{ end }}
  </div>
{{ end }}
